/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*#f94f48 - redish pink
#35c0fc - light blue*/

html {
  background-color: #35c0fc;
  font-family: 'Ubuntu', sans-serif;
}


h1 {
  padding-top:-100px;
  font-size:100px;
  text-align:center;
  color: #FFFFFF;
}



.form {
  margin-right: auto;
  margin-left:auto;
  /*height:50px;*/
  width:400px;
}

.formy{
  text-align:center;
}

.text_field{
  height:30px;
  background:#f94f48;
  font-size:20px;
  color:#ffffff;
  text-align:center;
  border-radius:20px;
}

.text_field_small{
  margin:20px 0 0 0 auto;
  display:inline;
  height:20px;
  background:#f94f48;
  font-size:12px;
  color:#ffffff;
  text-align:center;
  border-radius:20px;
}



.submit{
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #f94f48;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 1em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 9px 0px rgba(155,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(155,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(155,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 20px auto;
  width: 100px;
  text-align: center;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.submit:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

a {
  text-decoration:none;
  color:#ffffff;
}
.submit_small{

   /*position: relative;*/
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #f94f48;
    font-family: 'Ubuntu';
    font-size: 10px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 9px 0px rgba(155,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(155,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(155,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 20px auto;
  width: 50px;
  text-align: center;
  margin-top:5px;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}
  
.submit_small:active{
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.handle {
  color:#ffffff;
  font-size:2em;
}

.small_handle{
  color:#ffffff;
  
}
img{
  border:5px solid #FFF;
}

.user {
  text-align:center;
  font-size:30px;
}

.results {
  text-align:center;
  margin:0 auto;
}
.span{
  color:#f94f48;
}

.footer p {
  font-size:10px;
  text-align:right;
}

.footer{
  margin-bottom:0px;
}

html, body {
  height: 94%;
}
.wrapper {
  min-width:960px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -1em;
}
.footer, .push {
  height: 2em;
}

.small {
  display:inline;
  margin-top:50px;
  font-size:50px;
  text-align:left;
  padding-bottom:20px;

}

.header {
  /*height:200px;*/
  margin:0 auto;
  text-align:center;
}