/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*#f94f48 - redish pink
#35c0fc - light blue*/

html {
  background-color: #35c0fc;
  font-family: 'Ubuntu', sans-serif;
}


h1 {
  font-size:100px;
  text-align:center;
  color: #FFFFFF;
}

.wrapper {
  min-width: 960px;
}

.form {
  margin-right: auto;
  margin-left:auto;
  width:400px;
}

.formy{
  text-align:center;
}

input[type='text']{
  height:30px;
  background:#f94f48;
  font-size:20px;
  color:#ffffff;
  text-align:center;
  border-radius:20px;
}

input[type='submit']{
 color: #fff;
 font-size: 0;
 width: 135px;
 height: 60px;
 border: none;
 margin: 0;
 padding: 0;
 background: #0c0 url(images/send-now.gif) 0 0 no-repeat; 
}

img{
  border:5px solid #FFF;
}

.user {
  text-align:center;
  font-size:30px;
}